/* font size*/
.btn {
  padding: 0.75rem !important;
  margin: .75rem;
  font-size: 1rem;
  border-radius: .2rem;
  text-decoration: none;
}

.margin-0 {
  margin: 0 !important;
}

.gray-500 {
  color: #71717a !important;
}

.gray-600 {
  color: #52525b !important;
}

.btn-primary {
  background-color: #04A87E;
  color: #ffff;
}

.btn-primary:hover {
  background-color: #037659;
}

.btn-primary-dark {
  background-color: #004D40;
  color: #ffff;
}

.btn-primary-dark:hover {
  background-color: #001a16;
}

*,
:after,
:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

div {
  display: block;
}

.d-flex {
  display: flex !important;
}

.justify-center {
  justify-content: center;
  display: flex;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 1.875rem;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 10;
  padding-right: 1.5rem;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navbar .navbar-logo {
  padding-bottom: 1.25rem;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar .navbar-logo .logo {
  padding-top: 1.25rem;
}

.navbar .navbar-btn {
  display: flex;
  margin-left: auto;
}

.navbar .navbar-btn .navbar-links {
  flex: 1 1 auto;
  background-color: transparent;
}

.navbar .navbar-btn .navbar-links .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar .navbar-btn .navbar-links .navbar-nav .nav-link {
  position: relative;
}

.navbar .navbar-btn .navbar-links .navbar-nav .nav-link a {
  font-size: 1.125rem;
  text-decoration: none;
  padding: 0.75rem 1rem;
  color: #04A87E;
  font-weight: 600;
  transition: 0.5s;
}

.text-color-white {
  color: #ffff !important;
}

.banner {
  height: 1010px;
  background-color: #04A87E;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
  gap: 1rem;
}

.banner .banner-left {
  padding-left: 3rem;
  padding-top: 6rem;
}

.banner .banner-left .text-box {
  color: white;
  position: relative;
  left: 0rem;
  padding: 2rem;
}

.banner .banner-left .text-box .banner-title {
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 1;
}

.banner .banner-left .text-box .banner-subtitle {
  font-size: 1.5rem;
  font-weight: 200;
}

.banner .banner-left .text-box .banner-sub-subtitle {
  font-size: 1rem;
}

.banner .banner-left .text-box .banner-list {
  margin-bottom: 3rem;
}

.banner .banner-left .text-box .banner-list li {
  padding-top: 1rem;
  line-height: 0.75rem;
  height: 3em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.banner .banner-left .text-box .banner-list li div {
  color: inherit;
  display: table-cell;
  vertical-align: middle;
  text-decoration: inherit;
  color: #f0fdf4;
}

.banner .banner-left .text-box .banner-list li span {
  padding-left: 0.25rem;
}

.banner .banner-left .text-box .banner-list li svg {
  height: 1.5rem;
  width: 1.5rem;
}

.banner .banner-left .text-box .banner-search-form {
  background-color: #fff;
  border-radius: 0.5rem;
  width: 30rem;
  display: inline !important;
}

.banner .banner-left .text-box .banner-search-form .banner-search-search {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 62%;
  height: 2.5rem;
  margin: 0 !important;
  color: #3f3f46;
  font-size: 1rem;
  line-height: 1.5rem;
}

.banner .banner-left .text-box .banner-search-form .banner-search-button {
  background-color: #165C50;
  color: white;
  font-size: 1rem;
  margin: 0 !important;
  padding: 0.5rem 1rem !important;
}

.banner .banner-right {
  position: relative;
}

.banner .banner-right .banner-img {
  object-position: top;
  position: absolute;
  top: 14rem;
  width: 100%;
  object-fit: contain;
}

.welcome {
  padding: 30px;
  width: 75%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 20px 20px 100px rgba(4, 168, 126, 0.17);
  margin-top: -175px;
  z-index: 1;
}

.welcome .welcome-image,
.welcome .welcome-desc {
  width: 50%;
}

.welcome .welcome-desc {
  padding-left: 4rem;
  line-height: 1.25rem;
}

.welcome .welcome-image-atr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.service {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
  gap: 6rem;
  padding: 6rem;
}

.service .service-left {
  padding-top: 4rem;
  padding-left: 4rem;
}

.service .service-right {
  padding-top: 10rem;
}

.service .service-heading {
  padding-right: 12rem;
}

.packet {
  padding: 3rem;
}

.packet .packet-heading {
  text-align: center;
  color: #166534;
  display: flex;
  justify-content: center;
  padding-left: 20rem;
  padding-right: 20rem;
  font-weight: 800;
}

.packet .packet-subheading {
  text-align: center;
  color: #52525b;
  padding-left: 16rem;
  padding-right: 16rem;
  padding-bottom: 2rem;
}

.packet .list-packet {
  display: flex;
  flex-direction: row;
}

.packet .list-packet .list-packet-box {
  flex: 1 1 0%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 20px 100px rgba(255, 165, 0, 0.17);
  background-color: white;
  text-align: left;
  padding: 1.5rem;
  margin: 1rem;
  color: #374151;
}

.packet .list-packet .list-packet-box .price {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1rem;
  font-weight: 700;
  color: #026A4F;
}

.packet .list-packet .list-packet-box .sub-title {
  font-size: .75rem;
  font-weight: 200;
}

.packet .list-packet .list-packet-box .list-packet-list {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.packet .list-packet .list-packet-box .list-packet-list li {
  padding-top: 0.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.packet .list-packet .list-packet-box .list-packet-list li div {
  color: inherit;
  display: table-cell;
  vertical-align: middle;
  text-decoration: inherit;
  color: #52525b;
}

.packet .list-packet .list-packet-box .list-packet-list li .packet-desc {
  padding-left: 0.5rem;
}

.packet .list-packet .list-packet-box .list-packet-list li svg {
  height: 1.5rem;
  width: 1.5rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 3rem;
  color: #f0fdf4;
  grid-gap: 2rem;
  height: 100%;
  background-color: #04A87E;
  margin: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

footer .footer-desc {
  line-height: 1.25rem;
}

footer .menu-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

footer .menu-bottom a {
  color: #f0fdf4 !important;
  padding: 0.5rem;
  text-decoration: none;
}

footer .select-dropdown {
  padding-top: 2rem;
}

footer .btn-select-dropdown {
  background-color: #04A87E;
  border: 1px solid white;
  margin: 0 !important;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

footer .social-media {
  display: flex;
  flex-direction: row;
}

footer .social-media a {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  color: white;
  text-decoration: none;
}